:root {
  --dark-1: #c4c9c7;
  --dark-2: #28292a;
  --dark-3: #1a1b1b;
  --dark-4: #141414;
  --dark-5: #0f0f0f;
  --gold-1: #fde393;
  --gold-2: #fad76d;
  --gold-3: #f7c531;
  --gold-4: #f8c325;
  --main-1: #dbdbdb;
}
